---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-Book.otf);
  font-weight: normal;
}
@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-BookItalic.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-Semibold.otf);
  font-weight: bolder;
}
@font-face {
  font-family: Sentinel;
  src: url(/assets/Sentinel-SemiboldItalic.otf);
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: Univers;
  src: url(/assets/Univers.otf);
  font-weight: normal;
}
@font-face {
  font-family: Univers;
  src: url(/assets/Univers-Light.otf);
  font-weight: 300;
  font-weight: lighter;
}
@font-face {
  font-family: Univers;
  src: url(/assets/Univers-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Univers;
  src: url(/assets/Univers-Oblique.otf);
  font-style: italic;
}



// Our variables
$base-font-family: Univers, Helvetica, Arial, sans-serif;
$header-font-family: Sentinel;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #cc5527;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-mobile:        480px;
$on-palm:          768px;
$on-laptop:        1024px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
