<div class="popup" ng-show="compareAction.show === true" ng-cloak ng-if="mobile===false">
    <div class="popup--overlay" ng-click="compareAction.show = false"></div>
    <div class="popup--container">
        <div class="popup--info">
            <div class="popup--info__header">
                <h3 style="font-weight: 400;">Compare Residence Halls</h3>
                <i class="fa fa-close" ng-click="compareAction.show = false"></i>
            </div>
            <p ng-show="selected_comparisons.length > 0">Here are the residence halls you selected for comparison:</p>
            <p ng-show="selected_comparisons.length === 0">You haven't selected any residence halls to compare!</p>
            <div class="compare--item__container">
                <div class="compare--item" ng-repeat="dorm in selected_comparisons">
                    <a href="/[[:: dorm.properties.link ]]" class="compare--item__name"><h3>[[ ::dorm.properties.name ]]</h3></a>
                    <p class="compare--item__property">Gender: <b>[[ ::dorm.properties.gender | camelcase ]]</b></p>
                    <p class="compare--item__property">Area of campus: <b>[[ ::dorm.properties.area | camelcase ]]</b></p>
                    <p class="compare--item__price">Prices start at <b>$[[ ::dorm.properties.price ]]</b> per long session (August - May) for a shared space with community bath.</p>
                    <p class="compare--item__property">A full price breakdown is available <a target="blank" rel="nofollow noreferrer" href="http://housing.utexas.edu/future/prices-billing">here</a>.</p>
                    <div class="compare--item__rank">
                        <p><b>Resident Ratings*</b></p>
                        <p class="compare--item__aggregate">Average: <b style="font-size: 1.75em">[[ ::dorm.properties.average ]]</b> / 5</p>
                        <hr>
                        <p class="compare--item__location">Location: <b style="font-size: 1.25em">[[ ::dorm.properties.location ]]</b> / 5</p>
                        <p class="compare--item__food">Food: <b style="font-size: 1.25em">[[ ::dorm.properties.food ]]</b> / 5</p>
                        <p class="compare--item__comfort">Comfort: <b style="font-size: 1.25em">[[ ::dorm.properties.comfort ]]</b> / 5</p>
                        <p class="compare--item__environment">Environment: <b style="font-size: 1.25em">[[ ::dorm.properties.environment ]]</b> / 5</p>
                        <p style="font-style: italic; font-size: .8em;">*These ratings are entirely unscientific. They are collected from current/past residents.</p>
                    </div>
                    <p class="compare--item__property"></p>
                </div>
            </div>
        </div>
    </div>
</div>