<nav class="navbar dorm">
  <div class="navbar--content flex">
    <div class="navbar--content navbar--content__navigation flex">
      <a href="http://dailytexanonline.com" class="navbar--content__brand">{DT}</a>
      <a href="/" class="navbar--content__home">Home</a>
    </div>
    <div class="navbar--content navbar--content__share flex">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/residencehallexplorer" target="_blank" rel="nofollow noreferrer" class="navbar--content__facebook dorm"><i class='fa fa-facebook fa-lg' style="margin-right: .5em;"></i> Share</a>
      <a href="https://twitter.com/home?status=Choosing%20housing%20is%20a%20stressful%20process.%20@thedailytexan%20has%20you%20covered%E2%80%94http%3A//dailytexanonline.com/features/residencehallexplorer" target="_blank" rel="nofollow noreferrer" class="navbar--content__twitter dorm"><i class='fa fa-twitter fa-lg' style="margin-right: .5em;"></i>Tweet</a>
    </div>
  </div>
</nav>