<footer class="site-footer">

    <div class="col-md-6 footer-col left">
        <p class="footer-txt">
            Created by <a href="http://www.dailytexanonline.com/author/junyuan-tan" target="_blank">Junyuan Tan</a>, <a
                href="http://www.dailytexanonline.com/author/sam-limerick" target="_blank">Samuel Limerick</a>, <a
                href="http://www.dailytexanonline.com/author/arjun-talpallikar" target="_blank">Arjun Talpallikar,<br>Shishir Jessu, Todd Raschen-Lim, Alexandra Dolan and <a
                href="http://www.dailytexanonline.com/author/adam-humphrey" target="_blank">Adam Humphrey</a></p>
        <p class="footer-txt">
            Technical problems? Corrections?
            <a href="mailto:managingeditor@dailytexanonline.com?Subject=Housing%20interactive%20bug%20reporting">Let us know.</a>&nbsp;
            Lived on campus?
            <a href="https://goo.gl/forms/2FQQ17t7YAfFhlZT2" target="_blank"><b>Contribute to this explorer!</b></a>
        </p>
    </div>
    <div class="col-md-6 footer-col right">
        <a href="https://facebook.com/dailytexan" class="footer-icon" target="_blank" data-toggle="tooltip"
           data-placement="top" title="Follow us on Facebook!">
            <i class="fa fa-lg fa-facebook-official"></i>
        </a>
        <a class="footer-icon" href="https://twitter.com/thedailytexan" target="_blank" data-toggle="tooltip"
           data-placement="top" title="@ us on Twitter!">
            <i class="fa fa-lg fa-twitter-square"></i>
        </a>
        <a class="footer-icon" href="https://github.com/thedailytexan/ut-dorm-explorer" target="_blank"
            data-toggle="tooltip" data-placement="top" title="Check out our GitHub!">
            <i class="fa fa-lg fa-code"></i>
        </a>
    </div>

</footer>
