<footer class="site-footer">

  <div class="container">
    <p class="footer-txt">Created by <a href="http://www.dailytexanonline.com/author/junyuan-tan" target="_blank">Junyuan Tan</a> and <a href="http://www.dailytexanonline.com/author/adam-humphrey" target="_blank">Adam Humphrey</a> | <a href="mailto:managingeditor@dailytexanonline.com?Subject=SG%20interactive%20bug%20reporting" target="_top">Technical problems? Corrections? Let us know.</a> | &nbsp; <a href="https://facebook.com/dailytexan" class="footer-icon" target="_blank"><i class="fa fa-lg fa-facebook-official"></i></a> &nbsp; <a class="footer-icon" href="https://twitter.com/thedailytexan" target="_blank"><i class="fa fa-lg fa-twitter-square"></i></a> &nbsp; <a class="footer-icon" href="https://github.com/sc1f/dailytexan_housing_explorer" target="_blank"><i class="fa fa-lg fa-code"></i></a></p>
  </div>

</footer>
