<nav class="navbar">
  <div class="navbar--content flex">
    <div class="navbar--content navbar--content__navigation flex">
      <a href="http://dailytexanonline.com" class="navbar--content__brand">{DT}</a>
      <a href="/" class="navbar--content__home">Home</a>
    </div>
    <div class="navbar--content navbar--content__share flex">
      <a href="#" class="navbar--content__facebook"><i class='fa fa-facebook-official fa-lg' style="margin-right: .5em;"></i> Share</a>
      <a href="#" class="navbar--content__twitter"><i class='fa fa-twitter fa-lg' style="margin-right: .5em;"></i>Tweet</a>
    </div>
  </div>
</nav>