<div class="container-fluid homepage-main-container" ng-controller="homepageController">
    <div class="col-md-12">
        {% comment %}
            {% include filter.html %}
        {% endcomment %}
    </div>
</div>

<div ng-controller="homepageController"> <!-- TODO split apart controllers -->
    <div class="homepage--listings">
        <h2 class="homepage--listings__header">Residence Halls Explorer</h2>
        <p class="homepage--listings__copy">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        <div id='listings' class='listings'>

        </div>
    </div>
    <mapbox id="main-map" callback="buildMap"></mapbox>
</div>