// from dorm.html

div.dorm-container {
  margin-top: 0;
  @include media-query($on-mobile){
    padding: 0;
  }
}

// from post.html

// containers

div.post-container {
  padding: 0;
}

.post--container {
  border-left: 1px solid lighten($grey-color, 25%);
  padding: 1.5em 0 0 1.5em;
  @include media-query($on-tablet){
    border-left: 0;
    margin-top: 3em;
    padding: 0 1em 0 1em;
  }
}

// sidebar

.sidebar--facts {
  margin: 0;
}

.sidebar--fact__item {
  border-bottom: none;
  padding: 1rem;
  margin: auto;
  font-weight: normal;
  &:last-of-type {
    border-bottom: 1px solid #ddd;
  }
}

.sidebar--facts__nav {
  background: none;
  border: 1px solid lighten($grey-color, 25%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 1em;
  i {
    margin-right: .5rem;
  }
}

.btn-group.bootstrap-select {
  color: $brand-color;
  display: block !important;
  background: none;
  margin-top: .75em !important;
}

.sidebar--container {
  background: #ffffff;
  margin: auto;
  z-index: 1000;
  padding-right: 1.5em;

  ul {
    width: 100%;
  }
  @include media-query($on-tablet){
    margin-bottom: 5em;
    padding: 0;
    width: 100%;
  }
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

img {
  margin-bottom: .5rem;
}

.post-meta {
  font-size: 1.25rem;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */

.ratings--disclaimer {
  color: #a0a0a0;
  font-size: 1rem;
  font-style: italic;
}
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 6rem;
  font-family: $header-font-family;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: $brand-color;

  @include media-query($on-laptop) {
    font-size: 4rem;
  }
  @include media-query($on-tablet) {
    text-align: left;
    font-size: 6rem;
  }
}

.post-address {
  text-transform: uppercase;
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

article {
  margin-top: 1rem;
  h1, h2, h3, h4 {
    color: $text-color;
    font-family: $header-font-family;
    font-weight: normal;
  }
  h4, h5, h6 {
    color: $text-color;
    font-family: $header-font-family;
    font-weight: 300;
  }
  h5 {
    color: $text-color;
    font-style: italic;
    font-size: 1.6rem;
    @include media-query($on-mobile){
      font-size: 1.8rem;
    }
  }
  p {
    color: $text-color;
    line-height: $base-line-height;
    font-size: 1.5rem;
  }
  blockquote {
    border-left-color: lighten($brand-color, 10%);
    padding-left: 1rem;
    margin-top: 1em;
    p {
      font-family: $header-font-family;
      font-weight: 300;
      font-size: 2.25rem;
      color: $grey-color-dark;
      font-style: italic;
      display: inline;
      @include media-query($on-mobile){
        font-size: 2.5rem;
      }
    }
  }
  hr {
    margin: 1em 0 1em 0;
  }
}

#minimap {
  height: 25vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
}