.site-footer {
  border-top: 1px solid lightgray;
  padding: 1em 2em 0;
  margin: auto;
  width: 100%;
  a {
    color: #337ab7;
    &:hover {
      color: darken(#337ab7, 10%);
    }
  }
  @include media-query($on-palm) {
    height: 14em;
    padding: 2em;
  }
  @include media-query($on-mobile) {
    height: 16em;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
}

.footer-txt {
  font-size: 1.5rem;
  margin-bottom: 1em;

  @include media-query($on-palm) {
    text-align: center;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  &.middle {
    .footer-txt {
      text-align: center;
    }
    @include media-query($on-mobile) {
      margin-bottom: 2em;
    }
  }

  &.right {
    flex-direction: row;
    justify-content: flex-end;
    a {
      margin: 0 0 0 1em;
      @include media-query($on-palm) {
        margin: .5em;
      }
    }

    @include media-query($on-palm) {
      justify-content: center;

    }
  }
}