.navbar {
  border: 0 !important;
  border-radius: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em .5em 0 .5em;
  width: 100%;
  z-index: 5000;
}

.navbar.dorm {
  border-radius: 0 !important;
  width: 100%;
  position: static;
  border-bottom: 1px solid lightgray !important;
  padding: 1em .5em;
  margin-bottom: 0 !important;

  .navbar--content__navigation {
    color: $brand-color;
    padding-left: 1.5em;

    @include media-query($on-tablet) {
      padding-left: 0;
    }


    .navbar--content__brand {
      color: $brand-color;

      &:hover {
        color: darken($brand-color, 5%) !important;
      }
    }

    .navbar--content__home {
      color: $brand-color;

      &:hover {
        color: darken($brand-color, 5%) !important;
      }
    }
  }
}

.navbar--content.flex {
  @include media-query($on-tablet) {
    flex-direction: column;
  }
}

.navbar--content__navigation {
  justify-content: flex-start;
  flex: .5;
  font-weight: bold;
  padding-left: 2em;

  @include media-query($on-laptop) {
    padding-left: 1em;
  }

  @include media-query($on-tablet) {
    margin-bottom: .5em;
    padding-left: 0;
  }
  
  .navbar--content__brand {
    color: #fff;
    font-family: $mono-font-family;
    font-size: 1.25em;
    font-weight: 500;

    &:hover {
      color: #313131 !important;
    }

    @include media-query($on-tablet) {
      margin-bottom: .5em;
    }
  }

  .navbar--content__home {
    color: #fff;
    font-family: $base-font-family;
    font-size: 1em;
    margin-left: .5em;
    font-weight: 700;
    padding-top: .15em;

    &:hover {
      color: #313131 !important;
    }

    @include media-query($on-tablet) {
      margin-left: 0;
    }
  }
}

.navbar--content__share {
  color: #fff;
  align-items: baseline;
  justify-content: flex-end;
  flex: .5;
  padding-right: 2em;

  @include media-query($on-tablet) {
    flex-direction: row !important;
    justify-content: center;
    padding-right: 0;
  }


  .navbar--content__facebook, .navbar--content__twitter {
    font-size: 1em;
    font-weight: bold;
    margin-right: 2em;

    &.dorm {
      @include media-query($on-tablet) {
        color: #0097B2 !important;
      }
    }

    @include media-query($on-tablet) {
      color: #fff !important;
      margin: 0 1em;
    }

  }

}
