// homepage map

#main-map {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

.homepage--listings {
  background: #fff;
  position: absolute;
  height: 100%;
  top: 0;
  left: 12%;
  z-index: 500;
  padding: 0;
  overflow: hidden;
  width: 30%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  &.map-active {
    opacity: .5;
  }
  
  .homepage--listings__header {
    color: #fff;
    font-family: $header-font-family;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1.5rem;
  }
}



.homepage--listings__information {
  background: #cc5527;
  padding: 0 2em 1em 2em;
  position: fixed;
  left: 12%;
  top:0;
  width: 30%;
  z-index: 1000;
  
  .homepage--listings__copy {
    color: #fff;
  }
}

.homepage--footer {
  color: #333;
  background: #ececec;
  position: fixed;
  width: 30%;
  bottom: 0;
  left: 12%;
  padding: 1em 2em 0 2em;
  z-index: 1000;

  .homepage--footer__copy {
    a {
      font-style: italic;
    }
  }
}

.homepage--listitem__directlink, .homepage--listitem__addtolist {
  margin-top: 1em;
}

.homepage--listitem__directlink, .homepage--listitem__addtolist, .homepage--compare__remove {
  float: right;
  font-size: 1.5rem;
  color: #43a4c3 !important;
  line-height: 2;
  margin-left: 1.5em;

  &:hover {
    color: darken(#43a4c3, 20%) !important;
  }
}

div.mapboxgl-popup-content {
  font-family: $base-font-family;
  padding: 1.5em 3em .5em 1em;
}

a.popup--content__header {
  font-size: 1.75em;
  font-family: $header-font-family;
  margin-bottom: .25em;
}

.popup--content__body {
  font-size: 1.25em;
}

.homepage--listitem__active {
  background-color: #555555;
  border: 0;
  color: #fff;
  
  a.homepage--listitem__name {
    color: #fff !important;
  }

  .homepage--listitem__directlink, .homepage--listitem__addtolist {
    color: #fff !important;
  }

  a:hover, homepage--listitem__directlink:hover {
    color: darken(#fff, 30%) !important;
  }
}

/* -- HOMEPAGE TOOLS -- */

.homepage--compare {
  background: #fff;
  border-radius: 7px;
  border: 1px solid lightgray;
  max-height: 80%;
  position: absolute;
  right: 1.5%;
  bottom: 5%;
  z-index: 3000;
  width: 20%;
  padding: 1em 2em;
}

.homepage--compare__header {
  font-size: 1.25em;
}

.homepage--compare__directions {
  font-weight: bold;
}

.homepage--compare__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid lightgray;
  padding: .5em 0;

  &:first-of-type {
    border-top: 1px solid lightgray;
  }

  &:last-of-type {
    margin-bottom: 1em;
  }

  p {
    margin: 0 !important;
    text-align: left;
    flex: .5;
    font-size: 1em;
  }

  i {
    margin: 0 !important;
    text-align: right;
    flex: .5;
    font-size: 1em;
  }
}

.list-header {
  color: $brand-color;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
}

.listings {
  border-top: 1px solid lightgray;
  padding-top: 8.75em;
  padding-bottom: 3.75em;
  position: relative;
  height: 100%;
  z-index:400;
  overflow:auto;
  font-size: 1.8rem;
  .homepage--listitem {
    border-bottom: 1px solid lightgray;
    padding: 4px 1.5rem 2px 1.5rem;
    line-height: 1.5;

    @include media-query($on-mobile){
      padding: 1rem;
    }

    &:last-of-type {
      border-bottom: 0;
    }
    
    .homepage--listitem__name {
      color: #cc5527;
      font-weight: bolder;
      
      &:hover {
        color: darken(#cc5527, 10%);
      }
    }

    .homepage--listitem__address {
      font-size: 1.5rem;
    }

  }
  @include media-query($on-mobile){
    margin-bottom: 1em;
    margin-right: 0;
  }
}


.leaflet-popup-content > h2 {
  font-size: 2rem !important;
}

.footer-icon:hover {
  color: darken($brand-color, 10%);
}

.dorm-container {
  margin-top: 2em;
  @include media-query($on-mobile){
    padding: 0;
  }
}


div.main-container {
  padding: 0;
}

div.list-container {
  height: 70vh;
  padding: 0;

  @include media-query($on-mobile) {
    //FIXME responsive issue
  }
}

.list-facts {
  margin: 0;
}
.fact-item {
  border-bottom: none;
  padding: 1rem;
  margin: auto;
  font-weight: normal;
  &:last-of-type {
    border-bottom: 1px solid #ddd;
  }
}

.btn.nav-btn {
  background: none;
  border: 1px solid lighten($grey-color, 25%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 1em;
  i {
    margin-right: .5rem;
  }
}

.btn-group.bootstrap-select {
  color: $brand-color;
  display: block !important;
  background: none;
  margin-top: .75em !important;
}

