// homepage map

#main-map {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;

  @include media-query($on-tablet) {
    height: 75vh;
    top: auto;
    left: auto;
    position: static;
  }

}

.mapboxgl-ctrl-attrib.mapboxgl-ctrl {
  font-family: $base-font-family;
}

// listings

.homepage--listings {
  background: #fff;
  position: absolute;
  height: 100%;
  top: 0;
  left: 12%;
  z-index: 500;
  padding: 0;
  overflow: hidden;
  width: 30%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  @include media-query($on-tablet) {
    position: static;
    left: auto;
    top: auto;
    width: 100%;
  }



  .homepage--listings__header {
    color: #fff;
    font-family: $header-font-family;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1.5rem;
  }
}

.homepage-listing__active {
  opacity: .5;
}

// header

.homepage--listings__information {
  background: #bf5700;
  padding: 0 2em 1em 2em;
  width: 100%;
  flex: .1;
  z-index: 1000;

  @include media-query($on-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    .homepage--listings__header {
      font-size: 3rem;
    }
  }

  .homepage--listings__copy {
    color: #fff;
  }
}

// filter

.homepage--listings__filter {
  background: #fff;
  padding: .5em;
  justify-content: space-around;
  align-items: center;
  align-content: center;



  p {
    margin: 0 !important;
    flex: .5;
    text-align: right;
    padding-right: 1em;
  }

  button {
    background-color: #737373;
    color: #fff !important;
    flex: .25;
    margin: 0 .25em;

    &:hover {
      background-color: darken(#737373, 10%);
      color: #fff;
    }

    &:last-of-type {
      margin-right: 0
    }

    &:active, &:focus {
      color: #fff !important;
      font-weight: bold;
    }
  }
}

// footer

.homepage--footer {
  color: #333;
  background: #ececec;
  flex: .1;
  padding: 1em 2em 0 2em;
  z-index: 1000;

  .homepage--footer__copy {
    a {
      font-style: italic;
    }

    @include media-query($on-laptop) {
      font-size: 1.1rem;
    }

    @include media-query($on-tablet) {
      font-size: 1.25rem;
    }
  }
}

// item container

.homepage--listings__container {
  border-top: 1px solid lightgray;
  flex: .8;
  position: relative;
  height: 100%;
  z-index:400;
  overflow:scroll;
  font-size: 1.8rem;

  &#mobile-listings {
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em 0;

    .homepage--listings__placeholder {
      text-align: center;
      font-style: italic;
      font-size: 1.5rem;
      padding: 3em 0;
    }
  }

  .homepage--listitem {
    border-bottom: 1px solid lightgray;
    padding: 4px 1.5rem 2px 1.5rem;
    line-height: 1.5;


    @include media-query($on-tablet){
      width: 100%;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .homepage--listitem__name {
      color: #bf5700;
      font-weight: bolder;

      &:hover {
        color: darken(#bf5700, 10%);
        text-decoration: underline !important;
      }
    }

    .homepage--listitem__address {
      color: #333;
      font-size: 1.5rem;
    }

    .homepage--listitem__rating {
      font-size: 1.5rem;
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid lightgray;
      width: 100%;
    }

    .homepage--listitem__details {
      color: #999;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 400;
    }

  }
}

// active

.homepage--listitem__active {
  background-color: #0097B2;
  border: 0;
  color: #fff;

  a.homepage--listitem__name, .homepage--listitem__address, .homepage--listitem__details {
    color: #fff !important;
  }

  .homepage--listitem__addtolist {
    color: #fff !important;
  }

  a:hover, .homepage--listitem__addtolist:hover {
    color: #fff !important;
  }
}

// icons

.homepage--listitem__directlink, .homepage--listitem__addtolist {
  margin-top: 1em;
}

.homepage--listitem__directlink, .homepage--listitem__addtolist, .homepage--compare__remove {
  float: right;
  font-size: 1.5rem;
  color: #0097B2 !important;
  line-height: 2;
  margin-left: 1.5em;

  &:hover {
    color: lighten(#0097B2, 20%) !important;
  }
}

// popups

div.mapboxgl-popup-content {
  font-family: $base-font-family;
  padding: 1.5em 3em .5em 1em;
}

a.popup--content__header {
  font-size: 1.75em;
  font-family: $header-font-family;
  margin-bottom: .25em;
}

.popup--content__body {
  font-size: 1.25em;

  .star {
    font-size: 1em;
  }
}

/* -- HOMEPAGE TOOLS -- */

.homepage--compare {
  background: #fff;
  border-radius: 7px;
  border: 1px solid lightgray;
  max-height: 80%;
  position: absolute;
  right: 1.5%;
  bottom: 5%;
  z-index: 3000;
  width: 20%;
  padding: 1em 2em;

  @include media-query($on-tablet) {
    position: static;
    right: auto;
    bottom: auto;
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

.homepage--compare__header {
  font-size: 1.25em;
}

.homepage--compare__directions {
  font-weight: bold;
}

.homepage--compare__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid lightgray;
  padding: .5em 0;

  &:first-of-type {
    border-top: 1px solid lightgray;
  }

  &:last-of-type {
    margin-bottom: 1em;
  }

  p {
    margin: 0 !important;
    text-align: left;
    flex: .5;
    font-size: 1em;
  }

  i {
    margin: 0 !important;
    text-align: right;
    flex: .5;
    font-size: 1em;
  }
}

.list-header {
  color: $brand-color;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
}
