/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

.homepage-main-container {
  padding: 0 3em 0;
}

// filter menu for homepage

.filter-menu {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 1em;
  padding: 0;

  @include media-query($on-mobile) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.filter-selector {
  display: flex;
  border-right: 1px solid #ddd;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;

  &:last-of-type {
    border-right: 0;
  }

  @include media-query($on-palm) {
    border-right: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: auto;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.filter-trigger-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: .5em;

  .button-reset {
    margin-right: 1em;
  }

  @include media-query($on-palm) {
    margin-bottom: 2em;
  }
}

#filter-trigger {
  i {
    margin-right: .5em;
  }

  @include media-query($on-palm) {
    width: 100%;
  }
}

.fast-spin {
  -webkit-animation: fa-spin .5s infinite linear;
  animation: fa-spin .5s infinite linear;
}

.filter-information {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;

  img.filter-icon {
    width: 30%;
  }

  p.filter-information-tag {
    font-family: $header-font-family;
    font-size: 2em;
    font-style: italic;
    margin-bottom: 0;
  }
}

p.disclaimer {
  color: $grey-color;
  font-size: 1.25rem;
  text-align: center;
}
/**
 * Site footer
 */
.site-footer {
  background: lighten($grey-color-light, 7%);
  border-top: 1px solid #ddd;
  height: 8em;
  padding: 1em 2em 0;
  margin: auto;
  margin-top: 2em;
  
  a {
    color: #337ab7;
    &:hover {
      color: darken(#337ab7, 10%);
    }
  }
  @include media-query($on-palm) {
    height: 14em;
    padding: 2em;
  }
  @include media-query($on-mobile) {
    height: 16em;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-txt {
  font-size: 1.5rem;
  margin-bottom: 1em;

  @include media-query($on-palm) {
    text-align: center;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  &.middle {
    .footer-txt {
      text-align: center;
    }
    @include media-query($on-mobile) {
      margin-bottom: 2em;
    }
  }

  &.right {
    flex-direction: row;
    justify-content: flex-end;
    a {
      margin: 0 0 0 1em;
      @include media-query($on-palm) {
        margin: .5em;
      }
    }

    @include media-query($on-palm) {
      justify-content: center;

    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

img {
  margin-bottom: .5rem;
}

.post-meta {
  font-size: 1.25rem;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.flex-container {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-around;

  line-height:30px;
}

.flex-container.column {
  flex-direction: column;
  justify-content: center;
}

.flex-container.reverse {
  flex-direction: row-reverse;
}

.flex-container.column.reverse {
  flex-direction: column-reverse;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 6rem;
  font-family: Sentinel;
  font-weight: 300;
  font-style: italic;
  text-align: center;

  @include media-query($on-laptop) {
    font-size: 4rem;
  }
  @include media-query($on-palm) {
    text-align: left;
    font-size: 6rem;
  }
}

.post-address {
  text-transform: uppercase;
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
