<!DOCTYPE html>
<html>

  {% include head.html %}

  <body ng-app="housingApp">
    <div class="wrapper">
      {% include header.html %}

      {% include homepage.html %}
      <div class="push"></div>
    </div>
  
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="/js/angular-local-storage.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
  <script src="/js/UTdorms.js"></script>
</html>
