<!DOCTYPE html>
<html>

{% include head.html %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<body>

{% include dorm_header.html %}

<div class="container-fluid">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 dorm-container">{{ content }}</div>
    <div class="col-md-1 col-sm-1"></div>
</div>

{% include footer.html %}

<script src="/js/bundle.js"></script>
<script>
    $(document).ready(function(){
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        var dorm_selector = $('.selectpicker');
        dorm_selector.selectpicker({
            dropupAuto: false
        });
        dorm_selector.on('changed.bs.select', function(e){
            $(this).on('hide.bs.select', function(e){
                var new_location = $('.bootstrap-select > button').attr('title').toString().replace(' ', '').toLowerCase();
                window.location = '/' + new_location;
            });
        });
    });
</script>
<!--<script src="/js/jquery-2.2.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/flexibility.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
</body>
</html>
